# Ignore irssi config file
.irssi/config

# Ignore the individual server rc pointer file
custom/.thisservrc

# Ignore .vim stuff derived from :PlugUpdate
.vim/plugged/*
.fzf

# Ignore .DS_Store
.DS_Store
